<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">

    <!--<mat-toolbar>Menu</mat-toolbar>-->
    <mat-toolbar>
      <div class="logo">
        <img src="https://via.placeholder.com/140x100">

      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/manifest">Manifest</a>
      <a mat-list-item href="#">Datashare</a>
      <a mat-list-item href="#">Some Else</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>dashboard</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content></mat-sidenav-container>
