$border: 1px solid red;

.sidenav-container {
  height: 100%;
  background-color: white;

  .sidenav {
    width: 200px;

    .sidenav .mat-toolbar {
      background: inherit;
    }
    .mat-toolbar.mat-primary {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    .mat-toolbar{
      height: 100px;
      padding: 0;
      .logo{
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }

      }
    }

  }
  .mat-sidenav-content{
    width: calc(100% - 200px);
    margin: 0;
    overflow-x: hidden;

    .mat-toolbar{

    }
  }



}


