<div class="manifest-form-wrapper">
  <div class="inner-box">
    <h1>Passenger Information</h1>
    <form>
      <!--search option-->
      <div class="search-box">
        <mat-form-field>
          <mat-select placeholder="Type of search">
            <mat-option *ngFor="let type of commercialAir" [value]="type.value">
              {{type.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="search-bar">
      <mat-form-field>
        <input matInput placeholder="Search a Passenger">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="getDepartureLocation()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      </div>
                                      <!--    SEARCH BUTTOM-->
      <div class="search-button">
        <button mat-raised-button color="primary">Search</button>
      </div>

    </form>

  </div>

  <div class="search-result" >
    <app-search-result></app-search-result>
  </div>
</div>
