$border: 1px solid red;

.manifest-form-wrapper{
  //border: $border;
  width: 80%;
  margin: 0 auto;

  .inner-box{
    margin-top: 20px;
    height: 100%;

    form{
      display: flex;
      width: 100%;
      /*justify-content: space-between;*/
/*  .mat-form-field{
    width: 100%;
    }*/
    .search-box {
      //border: $border;
      width: 15%;

    }
      .search-bar{
        width: 70%;
        .mat-form-field{
          width: 100%;

        }
      }
      .search-button{
        padding-left: 30px;
        padding-top: 10px;

      }


    }
  }
  .search-result{
    margin: 15px auto;
    width: 100%;
    //border: $border;
  }
}
