/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
  box-sizing:border-box;
}
html, body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 14px;
  padding: 0;
  margin: 0;
}


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



